@use 'mixins' as *;

/***** Margin, padding *****/

.m-0 { margin: 0 }

.p-0 { padding: 0 }

.mp-0 {
    margin: 0;
    padding: 0;
}

/***** Flex *****/

.flex { display: flex }

.flex, .grid {

    &.-space     { justify-content: space-between }
    &.-center    { justify-content: center; align-items: center }
    &.-center-x  { justify-content: center }
    &.-center-y  { align-items: center }
    &.-start-y   { align-items: flex-start }
    &.-end-y     { align-items: flex-end }
    &.-end-x     { justify-content: flex-end }
    &.-column    { flex-direction: column }
    &.-wrap      { flex-wrap: wrap }

}

/***** Gap *****/

.gap-0   { gap: 0 }
.gap-xxs { gap: var(--space-xxs) }
.gap-xs  { gap: var(--space-xs) }
.gap-s   { gap: var(--space-s) }
.gap-m   { gap: var(--space-m) }
.gap-l   { gap: var(--space-l) }
.gap-xl  { gap: var(--space-xl) }
.gap-xxl { gap: var(--space-xxl) }

/***** Margin *****/

.mb-0   { margin-bottom: 0 }
.mb-xxs { margin-bottom: var(--space-xxs) }
.mb-xs  { margin-bottom: var(--space-xs) }
.mb-s   { margin-bottom: var(--space-s) }
.mb-m   { margin-bottom: var(--space-m) }
.mb-l   { margin-bottom: var(--space-l) }
.mb-xl  { margin-bottom: var(--space-xl) }
.mb-xxl { margin-bottom: var(--space-xxl) }

.mt-0   { margin-top: 0 }
.mt-xxs { margin-top: var(--space-xxs) }
.mt-xs  { margin-top: var(--space-xs) }
.mt-s   { margin-top: var(--space-s) }
.mt-m   { margin-top: var(--space-m) }
.mt-l   { margin-top: var(--space-l) }
.mt-xl  { margin-top: var(--space-xl) }
.mt-xxl { margin-top: var(--space-xxl) }

/***** Position *****/

.is-relative { position: relative }
.is-absolute { position: absolute }

/***** Sizes *****/

.w-full { width: 100% }
.h-full { height: 100% }

/***** Visibility *****/

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.is-visible {
    display: 1;
    visibility: visible;
}

.overflow-hidden { overflow: hidden }

.on-mobile {
    @include min(medium) {
        display: none !important;
    }
}

.on-desktop {
    @include max(medium) {
        display: none !important;
    }
}

/***** Text align *****/

.txt-left   { text-align: left }
.txt-center { text-align: center }
.txt-right  { text-align: right }