@use 'mixins' as *;

/*--------------------------------------------------------------
Spaces
--------------------------------------------------------------*/

:root {
    --space-xxs:  4px;
    --space-xs:   8px;
    --space-s:   16px;
    --space-m:   20px;
    --space-l:   40px;
    --space-xl:  60px;
    --space-xxl: 100px;
    --max-width: 1400px;
}

/*--------------------------------------------------------------
Wrapper
--------------------------------------------------------------*/

.wrapper {
    &:not(.small) {
        @include wrapper;
    }
    &.small {
        @include wrapper(small);
    }
}

.wrapper-padding {
    @include wrapper-padding;
}

/*--------------------------------------------------------------
Grid
--------------------------------------------------------------*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 30px;
}

@mixin parse-columns($suffix: ''){ 
    @for $i from 1 through 12 {
        .#{$suffix}-#{$i}col {
            grid-column: span #{$i};
            max-width: 100%;

            &.-centered {
                $start-column: ( calc( (12 - $i) / 2 )) + 1;
                grid-column: #{$start-column} / span #{$i};
            }

            &.-end {
                grid-column: span #{$i} / -1;
            }
        }
    }
}

@include min(tiny) {
    @include parse-columns('t');
}
@include min(small) {
    @include parse-columns('s');
}
@include min(medium) {
    @include parse-columns('m');
}
@include min(large) {
    @include parse-columns('l');
}
@include min(wide) {
    @include parse-columns('w');
}