@use './global/colors' as *;


/*------------------------------------*\
    PROJECT
\*------------------------------------*/

.block-post,
.block-project {
    position: relative;

    &__link::after {
        content: '';
        position: absolute;
        inset: 0;
    }

    &__image {

        img,
        .block_placeholder {
            aspect-ratio: 5/4;
            background-color: $gray-light;
        }
    }

    a {
        text-decoration: none;
        color: $black;
    }

    h3 {
        font-size: 18px;
    }

    a:hover {
        color: $gray;
    }

    &__categories, &__tags {
        background-color: rgb(239, 239, 239);
        padding: 4px 8px;
        border-radius: 5px;
        width: fit-content;
        opacity: 0.7;
    }
}