@use "./global/colors" as *;


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;

    &.-primary {
        background-color: $black;
        color: $white;
        padding: 0.5em 1em;
        border: 2px solid $black;
        border-radius: 10px;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    &.-filter {
        padding: 1em 2em .9em 2em;
        border: 2px solid $black;
        background-color: $white;
        border-radius: 50px;

        &.-active {
            background-color: $black;
            color: $white;
        }
    }
}


/*------------------------------------*\
    NAVIGATION LINKS
\*------------------------------------*/

.pagination {

    a {
        text-decoration: none;
    }
    .page-numbers {
        border-radius: 50%;
        border: 1px solid $black;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .current {
        background-color: $black;
        color: white;
    }
    &.hidden {
        display: none;
    }
}

/*------------------------------------*\
    PAGINATION
\*------------------------------------*/

.pagination {
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
    margin: 40px 0;
    
    .page-numbers:not(.current) {
        color: $black;
    }
}