@use "./global/colors" as *;
@use "./global/mixins" as *;
@use "./global/typography" as *;


/*------------------------------------*\
    MODULES BORDER & BGs
\*------------------------------------*/

section[class*="mod"] {
    &.-bordered {
        border: 50px solid $accent-color;
        padding: var(--space-xxl) 0;

    }
    &.-backgrounded:last-child {
        margin-bottom: 0;
    }
}

/*------------------------------------*\
    MOD CAROUSEL
\*------------------------------------*/

.mod_carousel {
    &.-bg {
        background-color: $gray-light;
        padding: var(--space-xl) 0;
    }
    &.swiper {
        
    }
}

/*------------------------------------*\
    MOD QUOTE
\*------------------------------------*/

.mod_quote {
    text-align: center;
    p {
        font-size: 18px;
    }

    @include max(medium) {
        margin: var(--space-xxl) 0;
    }
    @include min(medium) {
        margin: calc(var(--space-xxl) * 2) 0;
    }
}

/*------------------------------------*\
    MOD NEWS
\*------------------------------------*/

.mod_news {
    .mod_publication {
        .img-container {
            @include max(medium) {
                order: -1;
                margin-bottom: var(--space-xl);
            }
        }
    }

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

/*------------------------------------*\
    MOD visuel-text
\*------------------------------------*/

.mod_visuel-text {
    .mod_content {
        max-width: 800px;
    }
}

/*------------------------------------*\
    MOD VISUAL GRID (MEDIAS)
\*------------------------------------*/

.mod_visual-grid {
    .visual-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;

        .img-container {
            flex-grow: 1;
            height: 500px;
            max-height: 40vh;
            
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*------------------------------------*\
    MOD HERO
\*------------------------------------*/

.mod_hero {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $white;
    
    .hero {
        width: 100%;

        &__image {
            position: absolute;
            inset: 0;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
            }
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
    
        &__content {
            padding: 150px;
            display: flex;
            flex-direction: column;
            gap: var(--space-s);

            h1 {
                font-size: 60px;
            }
        }
    }

}